/* line 1, /Users/aria/Pictures/Games/MazeMaker/style.scss */
html, body {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%; }

/* line 8, /Users/aria/Pictures/Games/MazeMaker/style.scss */
body {
  padding-right: 40%; }

@media only screen and (max-width: 992px) {
  /* line 13, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  body {
    padding-right: 0; } }

/* line 17, /Users/aria/Pictures/Games/MazeMaker/style.scss */
body {
  display: flex;
  flex-direction: row;
  min-height: 100vh; }

/* line 23, /Users/aria/Pictures/Games/MazeMaker/style.scss */
main {
  flex-grow: 1;
  order: 0;
  display: flex;
  flex-direction: column;
  position: relative; }

/* line 30, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.button-collapse {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 10; }

/* line 36, /Users/aria/Pictures/Games/MazeMaker/style.scss */
aside {
  width: 40%;
  order: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  counter-reset: ind; }
  @media only screen and (max-width: 992px) {
    /* line 36, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside {
      width: 70%; } }
  /* line 45, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  aside ul.tabs {
    flex-shrink: 0; }
  /* line 48, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  aside article {
    overflow: hidden;
    position: relative; }
  /* line 53, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  aside #blocks ul {
    overflow: auto;
    counter-reset: section;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    text-align: right; }
    /* line 64, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul li.set div.collapsible-body.sections.grid article {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 0.3em; }
      /* line 69, /Users/aria/Pictures/Games/MazeMaker/style.scss */
      aside #blocks ul li.set div.collapsible-body.sections.grid article section {
        width: 32%; }
    /* line 74, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul .number-ind, aside #blocks ul .follow-info, aside #blocks ul .leads-info {
      background-color: palevioletred;
      color: white;
      padding: 0.2em 0.7em;
      border-radius: 1em;
      margin-right: 4em;
      box-shadow: 0 1px 3px -1px gray;
      font-weight: bold;
      position: absolute;
      left: 4.5em;
      height: 1.5em;
      line-height: 1.1em;
      top: 50%;
      transform: translateY(-50%); }
    /* line 89, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul .follow-info {
      background-color: orange;
      left: 8em;
      border-radius: 1em 0 0 1em; }
    /* line 94, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul .leads-info {
      border-radius: 0 1em 1em 0;
      background-color: teal;
      left: 9.9em; }
    /* line 99, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul .type-ind {
      counter-increment: ind; }
      /* line 101, /Users/aria/Pictures/Games/MazeMaker/style.scss */
      aside #blocks ul .type-ind:before {
        content: counter(ind);
        position: absolute;
        font-size: 5em;
        right: 0.1em;
        top: 0.2em;
        color: teal; }
    /* line 111, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #blocks ul section {
      min-height: 8em;
      display: block;
      background-color: teal;
      margin-top: 0.7em;
      counter-increment: section;
      text-align: center;
      position: relative;
      width: 100%; }
      /* line 121, /Users/aria/Pictures/Games/MazeMaker/style.scss */
      aside #blocks ul section.selected {
        background-color: orange; }
      /* line 124, /Users/aria/Pictures/Games/MazeMaker/style.scss */
      aside #blocks ul section:after {
        content: counter(section);
        font-size: 6em;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        text-align: center; }
  /* line 137, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  aside article {
    flex-grow: 1; }
  /* line 141, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  aside #code {
    display: flex;
    flex-direction: column; }
    /* line 144, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #code .codem {
      flex-grow: 1;
      overflow: auto;
      position: relative; }
    /* line 149, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    aside #code .CodeMirror {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: auto; }
      /* line 156, /Users/aria/Pictures/Games/MazeMaker/style.scss */
      aside #code .CodeMirror .CodeMirror-scroll {
        overflow: auto;
        height: 100%;
        position: relative;
        outline: none; }

/* line 166, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.inputs {
  display: flex; }

/* line 169, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.inputs input[type="number"] {
  max-width: 60px; }
  /* line 171, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .inputs input[type="number"]::-webkit-inner-spin-button, .inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

/* line 178, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.toolbar {
  box-shadow: 0 0 4px 0 black;
  z-index: 1; }
  /* line 181, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .toolbar .file-field .btn {
    height: 40px; }
    /* line 183, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .toolbar .file-field .btn * {
      cursor: pointer; }

/* line 189, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#sceneWrapper {
  flex-grow: 1;
  background-color: #343434;
  position: relative;
  padding: 20px 20px 70px 20px; }
  /* line 194, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  #sceneWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(250px-Truchet_labyrinth.svg);
    background-size: 150px;
    z-index: 0;
    opacity: 0.1; }

/* line 207, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.scene {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 15px -5px black;
  display: flex;
  flex-wrap: wrap; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-1 .module {
    width: 100%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-2 .module {
    width: 50%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-3 .module {
    width: 33.33333%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-4 .module {
    width: 25%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-5 .module {
    width: 20%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-6 .module {
    width: 16.66667%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-7 .module {
    width: 14.28571%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-8 .module {
    width: 12.5%; }
  /* line 215, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene.cols-9 .module {
    width: 11.11111%; }
  /* line 219, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .scene .module {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease 0s, box-shadow 0.2s ease 0s; }
    /* line 223, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module.selected {
      z-index: 5;
      box-shadow: 0 0 0 5px black inset; }
    /* line 227, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module:before {
      content: "";
      padding-top: 100%;
      display: block;
      transition: transform 0.1s ease 0s;
      background-size: 103% 103%;
      background-color: rgba(255, 255, 255, 0.7);
      background-repeat: no-repeat;
      background-position: center center; }
    /* line 240, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module[data-rotate="0"]:before {
      transform: rotateZ(0deg); }
    /* line 240, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module[data-rotate="1"]:before {
      transform: rotateZ(90deg); }
    /* line 240, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module[data-rotate="2"]:before {
      transform: rotateZ(180deg); }
    /* line 240, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .scene .module[data-rotate="3"]:before {
      transform: rotateZ(270deg); }

/* line 247, /Users/aria/Pictures/Games/MazeMaker/style.scss */
footer {
  transform: translateY(100%);
  transition: transform 0.2s ease 0s;
  position: fixed;
  left: 0;
  right: 40%;
  bottom: 0;
  height: 55px;
  padding-top: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 100; }
  /* line 252, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer.active {
    transform: translateY(0); }
  @media only screen and (max-width: 992px) {
    /* line 247, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer {
      right: 0; } }
  /* line 267, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer .module {
    width: 39px;
    position: relative;
    height: 39px;
    border: 1px solid #00cdcd;
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 500px;
    margin-left: 0.5em;
    background-color: #00cdcd; }
    /* line 277, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module section {
      position: relative;
      border-radius: 500px;
      overflow: hidden;
      width: 100%;
      height: 100%; }
    /* line 285, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module div {
      background-color: #001a1a !important; }
    /* line 288, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module .tl {
      border-top-left-radius: 500px; }
    /* line 291, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module .tr {
      border-top-right-radius: 500px; }
    /* line 294, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module .bl {
      border-bottom-left-radius: 500px; }
    /* line 297, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .module .br {
      border-bottom-right-radius: 500px; }
  /* line 302, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer .actions {
    margin-left: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse; }
    /* line 307, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    footer .actions button {
      margin-right: 1em; }
  /* line 311, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer button {
    height: 100%;
    width: 55px;
    cursor: pointer; }
  /* line 316, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer span {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 9.5px;
    top: -38px;
    border: 1px solid white;
    background-color: #343434;
    border-radius: 3px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.25s ease 0s; }
  /* line 333, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  footer:hover span {
    opacity: 1; }

/* line 345, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module:before, footer.raw .module:before {
  transition: none;
  transform: rotateZ(0);
  background-color: rgba(0, 128, 128, 0.7); }

/* line 350, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module div, footer.raw .module div {
  position: absolute;
  transition-property: width, height, left, top, right, bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background-color: #b3ffff;
  width: 20%;
  height: 20%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="0"] .tl, footer.raw .module[data-type="0"][data-rotate="0"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="0"] .tr, footer.raw .module[data-type="0"][data-rotate="0"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="0"] .br, footer.raw .module[data-type="0"][data-rotate="0"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="0"] .bl, footer.raw .module[data-type="0"][data-rotate="0"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="1"] .tl, footer.raw .module[data-type="0"][data-rotate="1"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="1"] .tr, footer.raw .module[data-type="0"][data-rotate="1"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="1"] .br, footer.raw .module[data-type="0"][data-rotate="1"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="1"] .bl, footer.raw .module[data-type="0"][data-rotate="1"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="2"] .tl, footer.raw .module[data-type="0"][data-rotate="2"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="2"] .tr, footer.raw .module[data-type="0"][data-rotate="2"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="2"] .br, footer.raw .module[data-type="0"][data-rotate="2"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="2"] .bl, footer.raw .module[data-type="0"][data-rotate="2"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="3"] .tl, footer.raw .module[data-type="0"][data-rotate="3"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="3"] .tr, footer.raw .module[data-type="0"][data-rotate="3"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="3"] .br, footer.raw .module[data-type="0"][data-rotate="3"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="0"][data-rotate="3"] .bl, footer.raw .module[data-type="0"][data-rotate="3"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="0"] .tl, footer.raw .module[data-type="1"][data-rotate="0"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="0"] .tr, footer.raw .module[data-type="1"][data-rotate="0"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="0"] .br, footer.raw .module[data-type="1"][data-rotate="0"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="0"] .bl, footer.raw .module[data-type="1"][data-rotate="0"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="1"] .tl, footer.raw .module[data-type="1"][data-rotate="1"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="1"] .tr, footer.raw .module[data-type="1"][data-rotate="1"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="1"] .br, footer.raw .module[data-type="1"][data-rotate="1"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="1"] .bl, footer.raw .module[data-type="1"][data-rotate="1"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="2"] .tl, footer.raw .module[data-type="1"][data-rotate="2"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="2"] .tr, footer.raw .module[data-type="1"][data-rotate="2"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="2"] .br, footer.raw .module[data-type="1"][data-rotate="2"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="2"] .bl, footer.raw .module[data-type="1"][data-rotate="2"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="3"] .tl, footer.raw .module[data-type="1"][data-rotate="3"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="3"] .tr, footer.raw .module[data-type="1"][data-rotate="3"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="3"] .br, footer.raw .module[data-type="1"][data-rotate="3"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="1"][data-rotate="3"] .bl, footer.raw .module[data-type="1"][data-rotate="3"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="0"] .tl, footer.raw .module[data-type="2"][data-rotate="0"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="0"] .tr, footer.raw .module[data-type="2"][data-rotate="0"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="0"] .br, footer.raw .module[data-type="2"][data-rotate="0"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="0"] .bl, footer.raw .module[data-type="2"][data-rotate="0"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="1"] .tl, footer.raw .module[data-type="2"][data-rotate="1"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="1"] .tr, footer.raw .module[data-type="2"][data-rotate="1"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="1"] .br, footer.raw .module[data-type="2"][data-rotate="1"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="1"] .bl, footer.raw .module[data-type="2"][data-rotate="1"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="2"] .tl, footer.raw .module[data-type="2"][data-rotate="2"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="2"] .tr, footer.raw .module[data-type="2"][data-rotate="2"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="2"] .br, footer.raw .module[data-type="2"][data-rotate="2"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="2"] .bl, footer.raw .module[data-type="2"][data-rotate="2"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="3"] .tl, footer.raw .module[data-type="2"][data-rotate="3"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="3"] .tr, footer.raw .module[data-type="2"][data-rotate="3"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="3"] .br, footer.raw .module[data-type="2"][data-rotate="3"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="2"][data-rotate="3"] .bl, footer.raw .module[data-type="2"][data-rotate="3"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="0"] .tl, footer.raw .module[data-type="3"][data-rotate="0"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="0"] .tr, footer.raw .module[data-type="3"][data-rotate="0"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="0"] .br, footer.raw .module[data-type="3"][data-rotate="0"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="0"] .bl, footer.raw .module[data-type="3"][data-rotate="0"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="1"] .tl, footer.raw .module[data-type="3"][data-rotate="1"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="1"] .tr, footer.raw .module[data-type="3"][data-rotate="1"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="1"] .br, footer.raw .module[data-type="3"][data-rotate="1"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="1"] .bl, footer.raw .module[data-type="3"][data-rotate="1"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="2"] .tl, footer.raw .module[data-type="3"][data-rotate="2"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="2"] .tr, footer.raw .module[data-type="3"][data-rotate="2"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="2"] .br, footer.raw .module[data-type="3"][data-rotate="2"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="2"] .bl, footer.raw .module[data-type="3"][data-rotate="2"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="3"] .tl, footer.raw .module[data-type="3"][data-rotate="3"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="3"] .tr, footer.raw .module[data-type="3"][data-rotate="3"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="3"] .br, footer.raw .module[data-type="3"][data-rotate="3"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="3"][data-rotate="3"] .bl, footer.raw .module[data-type="3"][data-rotate="3"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="0"] .tl, footer.raw .module[data-type="4"][data-rotate="0"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="0"] .tr, footer.raw .module[data-type="4"][data-rotate="0"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="0"] .br, footer.raw .module[data-type="4"][data-rotate="0"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="0"] .bl, footer.raw .module[data-type="4"][data-rotate="0"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="1"] .tl, footer.raw .module[data-type="4"][data-rotate="1"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="1"] .tr, footer.raw .module[data-type="4"][data-rotate="1"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="1"] .br, footer.raw .module[data-type="4"][data-rotate="1"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="1"] .bl, footer.raw .module[data-type="4"][data-rotate="1"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="2"] .tl, footer.raw .module[data-type="4"][data-rotate="2"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px;
  width: 90%; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="2"] .tr, footer.raw .module[data-type="4"][data-rotate="2"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="2"] .br, footer.raw .module[data-type="4"][data-rotate="2"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="2"] .bl, footer.raw .module[data-type="4"][data-rotate="2"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px; }

/* line 406, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="3"] .tl, footer.raw .module[data-type="4"][data-rotate="3"] .tl {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 3px; }

/* line 417, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="3"] .tr, footer.raw .module[data-type="4"][data-rotate="3"] .tr {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  height: 90%; }

/* line 428, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="3"] .br, footer.raw .module[data-type="4"][data-rotate="3"] .br {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  width: 90%; }

/* line 438, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.raw .module[data-type="4"][data-rotate="3"] .bl, footer.raw .module[data-type="4"][data-rotate="3"] .bl {
  bottom: 0;
  left: 0;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 3px;
  height: 90%; }

/* line 455, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module div, footer.convention .module div {
  display: none; }

/* line 459, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module[data-type="0"]:before, footer.convention .module[data-type="0"]:before {
  background-image: url(Modules/convention/0.png); }

/* line 459, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module[data-type="1"]:before, footer.convention .module[data-type="1"]:before {
  background-image: url(Modules/convention/1.png); }

/* line 459, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module[data-type="2"]:before, footer.convention .module[data-type="2"]:before {
  background-image: url(Modules/convention/2.png); }

/* line 459, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module[data-type="3"]:before, footer.convention .module[data-type="3"]:before {
  background-image: url(Modules/convention/3.png); }

/* line 459, /Users/aria/Pictures/Games/MazeMaker/style.scss */
#scene.convention .module[data-type="4"]:before, footer.convention .module[data-type="4"]:before {
  background-image: url(Modules/convention/4.png); }

/* line 467, /Users/aria/Pictures/Games/MazeMaker/style.scss */
footer.raw .module div {
  width: 35%;
  height: 35%; }

/* line 474, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.moduleType[data-type="0"] {
  background-image: url(Modules/convention/0.png); }

/* line 474, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.moduleType[data-type="1"] {
  background-image: url(Modules/convention/1.png); }

/* line 474, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.moduleType[data-type="2"] {
  background-image: url(Modules/convention/2.png); }

/* line 474, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.moduleType[data-type="3"] {
  background-image: url(Modules/convention/3.png); }

/* line 474, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.moduleType[data-type="4"] {
  background-image: url(Modules/convention/4.png); }

/* line 483, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.template {
  display: none; }

/* line 486, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.collapsible-header {
  position: relative;
  box-shadow: 0 0 0 3px #26a69a inset;
  background-size: 100%; }
  /* line 490, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .collapsible-header .input-inds, .collapsible-header .output-inds, .collapsible-header .number-ind, .collapsible-header .follow-info, .collapsible-header .leads-info {
    transition: transform 0.3s ease 0s; }
  /* line 493, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .collapsible-header button {
    position: absolute;
    left: 0;
    width: 3em;
    padding: 0;
    height: 100%;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform: translateX(-10px);
    z-index: -1; }
    /* line 499, /Users/aria/Pictures/Games/MazeMaker/style.scss */
    .collapsible-header button i {
      width: 2em;
      margin: 0;
      position: absolute;
      top: 0.2em;
      left: 0;
      bottom: 0; }

/* line 518, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.set.active .collapsible-header .input-inds, .set.active .collapsible-header .output-inds, .set.active .collapsible-header .number-ind, .set.active .collapsible-header .follow-info, .set.active .collapsible-header .leads-info {
  transform: translate(3em, -50%) !important; }

/* line 521, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.set.active .collapsible-header button {
  opacity: 1;
  z-index: 10;
  transform: translateX(0); }

/* line 530, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.set.active-follow .collapsible-header {
  background-color: rgba(0, 128, 128, 0.5) !important; }

/* line 535, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.set.active-lead .collapsible-header {
  background-color: rgba(255, 165, 0, 0.5) !important; }

/* line 542, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.input-ind, .output-ind {
  width: 10px;
  height: 2px;
  background-color: #26a69a;
  position: relative; }
  /* line 548, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .input-ind:before, .output-ind:before {
    content: "";
    display: block;
    width: 7px;
    height: 8px;
    left: 2px;
    background-color: #26a69a;
    position: absolute; }
  /* line 559, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .input-ind.on:before, .output-ind.on:before {
    content: "";
    display: block;
    width: 3px;
    height: 13px;
    left: 4px;
    background-color: palevioletred;
    position: absolute; }

/* line 571, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.input-ind:before {
  bottom: 0; }

/* line 574, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.output-ind:before {
  top: 0; }

/* line 578, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.input-inds, .output-inds {
  display: flex;
  position: absolute;
  left: 5px;
  height: 2px;
  width: auto;
  flex-wrap: nowrap;
  flex-direction: row; }

/* line 587, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.input-inds {
  bottom: 0; }

/* line 590, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.output-inds {
  top: 0; }

/* line 595, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.wayGroup li {
  margin-top: 5px; }

/* line 599, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.wayGroup .collapsible-header {
  border-radius: 2px;
  overflow: hidden; }

/* line 605, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.group {
  display: inline-block; }
  /* line 607, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .group button:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-right: 1rem !important; }
  /* line 612, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .group button:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 1rem !important; }
  /* line 617, /Users/aria/Pictures/Games/MazeMaker/style.scss */
  .group button.just-icon {
    padding-right: 1rem !important; }

/* line 622, /Users/aria/Pictures/Games/MazeMaker/style.scss */
.fileRead {
  margin-right: 1em; }

/*# sourceMappingURL=style.css.map */